#headline {
    @include head-in-border;

    h1 {
        @include heading-text($white, 100, 2.5em);
        padding-top: 50px;   

        @include break($max2) {
            font-size: 2em;
            padding-top: 50px;
        }

        @include break($max3) {
            font-size: 1.5em;
            padding-top: 30px;
        }
    }
}

#content {
    @include content-box;

    @include break($max1) {
        width: inherit;
    }

    h3 {
        @include heading-text($grey, 400, 2em);

        @include break($max3) {
            font-size: 1.6em;
        }
    }

    #products {
        @include two-columns(left);

        img {
            float: left;
            margin-right: 20px;
        }

        article {
            margin-bottom: 40px;
        }

        h4 {
            line-height: 1em;
        }
    }

    #testimonials {
        @include two-columns(right);
    }

    #products, #testimonials {
        @include break($max1) {
            width: 46%;
            margin: 0 2%;
        }

        @include break($max2) {
            width: 96%;
            margin: 0 2%;
            float: none;
        }
    }
}