@mixin main-logo ($image) {
    background-image: $image;
    width: 400px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: 0 50px;
    float: left;
    display: block;
    margin: 0;
}

@mixin head-h1 {
    color: $red;
    font-weight: 100;
    font-size: 4em;
}

@mixin head-h2 {
    color: $white;
    font-weight: 900;
    font-size: 2.5em;
}

@mixin head-h3 {
    color: $grey;
    font-weight: 400;
    font-size: 2em;
}

@mixin heading-text ($color, $f-weight, $size) {
    color: $color;
    font-weight: $f-weight;
    font-size: $size;
}

@mixin head-in-border {
    width: 100%;
    height: 130px;
    background: $contentBg;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
}

@mixin content-box {
    width: 940px;
    margin: 20px auto;
}

@mixin two-columns ($float) {
    width: 460px;
    float: $float;
}

@mixin icon-link ($width, $height) {
    display: block;
        width: $width;
        height: $height;
        text-indent: -9999px;
}

@mixin break ($length) {
    @media (max-width: $length) {
        @content;
    }
}
