@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

$white:         #FFF;       // background, base text, h2, headline h1, a &hover
$red:           #E65C43;    // h1, li a
$grey:          #666;       // h3
$contentBg:     #F25C43;
$lightgrey:     #F5F6F6;
$darkgrey:      #30353D;

$textcolor:     $white;

$font-body:     Roboto, sans-serif;

$bg-image:      url('../images/bg.gif');
$logo:          url('../images/logo.png');
$social:        url('../images/social-media.png');

$max1:          959px;
$max2:          767px;
$max3:          459px;
